.backgroudImg{
    margin: 0px;
    padding: 0px;
}

.imgTable_bj{
    position:fixed;
    width: 100%;
    height: 100vh;
    
}

.bet ul {
    text-align: center;    
}

.bet ul li{
    display: inline-block;   
    text-decoration: none;
    color:black;
    font-size: 40px;
    margin: 0 25px;
    list-style: none;
    transition: transform 0.3s ease ;
    top: 50%;
}

.bet button:hover:enabled{
    transform: scale(1.1);
    background: #e91212;
    box-shadow: 0 5px 25px rgba(0,0,0,.3);
    transform: translate(-12px, -12px);
}

.bet button{
    border-color:  #e91212 ;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px;
    color:  rgb(219, 222, 17) ;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
}

.bet button::after:enabled{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: rgb(137, 0, 27);
    border-radius: inherit;
    width: auto;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.bet button:hover::after:enabled{
    transform: translate(2px, 2px);
}

.imgCard_bj {
    width: 100px;
    height: 18%;
    position:absolute ;
    top: 15%;
    left: 15%;
    orientation: ;
}

.bet ul {
    position: absolute;
    top: 70%;
    left: 25%;
}

.bet button:enabled {
    background-color: rgba(211, 4, 45, 0.845);
    border-color:  #e91212 ;
}

.bet button:disabled {
    background-color: rgba(188, 166, 171, 0.845);
    border-color: rgba(188, 166, 171, 0.845);
}
