h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: gold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ul_leaderboard{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: gold;
    margin-top: 50px;
    margin-bottom: 50px;
}