body{
	background-image: url('../img/background/background-home4.jpg');
	background-size: cover;
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px;
	margin: 5em auto;
	display: flex;
}
.font-logo{
    background-color: black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FFB835;
}

@media screen and (max-width: 640px) {
	.main-content{width: 30%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 30%;}
}
.row > h2{
	color: #FFB835;
}
.login_form{
	background-color: black;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 70%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #FFB835;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:0.75em auto;
	transition: all .5s ease;
}
.form__input:focus{
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color: black;
	font-weight: 600;
	background-color: #FFB835;
	border: 1px solid  #FFB835;
	margin-top: 1.5em;
	margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover, .btn:focus{
	background-color:  #FFB835;
	color:#fff;
}

.login-logo{
    width: 200px;
    height: 200px;
}



p{
    color: #FFB835;
}