
.nav-link{
    color: #FFB835;
};

/* Profil */

body {
  background-image: url('../img/background/background-home4.jpg');
  background-size: cover;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 black;
    box-shadow: 0 1px 20px 0 black;
    border: none;
    margin-bottom: 30px;
    background-color: white;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-img-profil{
        background-color: black;
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;

}

.img-profil {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid black;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.box-ecart {
    margin-bottom: 10px;
}

.text-muted {
    color: black !important;
    text-align: center;
}

.b-b-default {
    border-bottom: 1px solid black;
}

.title-info-user{
    font-weight: 600;
    color: #FFB835;
    text-align:center;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.box-ecart{
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Menu HomePage */

.backHome{
  background-image: url('../img/background/background-home4.jpg');
  background-size: cover;
}


.container{
    width:100vw;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .slider {
    height: 550px;
    width:50vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
  }
  .box1{      
    background-size:cover;
    background-position:center center;}
  .box2{
    background-size:cover;
    background-position:center center;}
  .box3{
    background-size:cover;
    background-position:center center;}
  .box4{
    background-size:cover;
    background-position:center center;}
  .box5{
    background-size:cover;
    background-position:center center;}
  .box6{
    background-size:cover;
    background-position:center center;}
  
  
  .slider [class*="box"] {
  /*   float: left; */
    overflow: hidden;
    border-radius:20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      position:absolute;
  }
  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%,-50%);
    top: 10%;
    z-index:1;
  }
  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%,-50%);
    top: 20%;
    z-index:2;
  }
  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%,-50%);
    top: 30%;
    z-index:3;
  }
  .slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
  }
  .slider [class*="box"]:nth-child(1){
    left:-13%;
    right:13%;
  };

  .slider [class*="box"]:nth-child(2){
    left:-5%;
  right: 10%;}
  .slider [class*="box"]:nth-child(3){
    left:10%;}
  .slider [class*="box"]:nth-child(4){
    left:50%;}
  .slider [class*="box"]:nth-child(5){
    left:71%;}
  .slider [class*="box"]:nth-child(6){
    left:85%;}
  .slider .firstSlide {
      -webkit-animation:  firstChild 1s;
      animation:  firstChild 1s;
  }
  /*Animation for buyers landing page slider*/
  @-webkit-keyframes firstChild {
      0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }
  @keyframes firstChild {
     0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }

  .ImageMenu{
    width:100vh;
    height:60vh;
  }

  
 /* Conctact Page */

 .backConctat{
  background-image: url('../img/background/background-home.jpg');
  background-size: cover;
 }
