@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.Roulette {
  background-image: url('../img/background/background-roulette.jpg');
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

* {
  transition: all .5s ease;
}


#msg {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
 #bal{
  color: white;
  font-weight: bold;
  font-size: 20px;
  
 }


#bal::before {
  content: 'Bits:';
  ;
}

.ticker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26px 15px;
  border-color: transparent transparent #007bff transparent;
  margin: 0 auto;
  transform: translateY(-5px);
}

#roll {
  width: 1160px;
  height: 40px;
  background: #0077ee;
  margin: 0 auto;
}

.roll-h {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}

.shadow {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  box-shadow: 50px 0px 25px -12px #333 inset, -50px 0px 25px -12px #333 inset;
  transform: translateY(40px);
}

.red,
.black,
.green,
.his-h {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  float: left;
}


#stat {
  float: right;
  color: #fff;
}

#stat {
  width: 100px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: -300px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.black {
  background: black;
}

#his {
  width: 360px;
  height: 40px;
  margin: 0 auto;
}

.his-h {
  margin-left: 5px;
  border-radius: 50%;
}

.title {
  font-size: 30px;
  color: black;
}

.title b {
  font-size: 70px;
  color: #FFB835;
}





